.estatisticas {
    width: 150px;
    padding: 2em 2em 0;
}

.estatistica {
    color: var(--main-branco);
    display: flex;
    align-items: flex-start;
    height: 25%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    padding: 10px;
}

.estatistica_titulo {
    font-size: 1.5em;
    border-bottom: 1px solid var(--main-cinza);
    flex-basis: 50%;
    text-transform: uppercase;
    order: 1;
    font-size: 10px;
}

.estatistica_valor {
    flex-basis: 45%;
    position: relative;
    margin: 10px 0 0;
    order: 2;
    margin: -10px 0 0;
}

.estatistica_valor::after {
    content: "";
    display: block;
    padding-bottom: 100%;
    border: 1px solid var(--main-cinza);
    border-radius: 50%;
}

.estatistica_numero {
    position: absolute;
    top: 50%;
    transform: translateY(-46%);
    width: 100%;
    line-height: 100%;
    text-align: center;
    font-size: 2em;
    margin: 0;
}

.estatistica:nth-child(2n) .estatistica_titulo {
    order: 2;
    text-align: right;
}

.estatistica:nth-child(2n) .estatistica_valor {
    order: 1;
    flex-basis: 35%;
    margin: 10px 0 0;
}

@media screen and (max-width: 1600px) {
    body { 
        font-size: 14px;
    }
    main {
        width: 90vw;
        height: 80vh;
        margin: 5vh auto;
    }
}

@media screen and (max-width: 1200px) {
    body { 
        font-size: 13px;
    }

    main {
        width: 96vw;
        height: 80vh;
        margin: 10vh auto;
    }
}